a { color:#696969; }
h1 { margin-top:20px; }
p { margin-left:20px; }
p.top { margin-bottom:25px; font-size:1.2em; color:#696969; }
p.kadai { margin-bottom:10px;}
table { margin-left:20px;}
table.all { margin-bottom:50px;}