@* check Template File *@
@(user: String)

@*(param: Any)*@

<html>
    <head>
        <title>Check System</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/check.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <header>
            <a href="@routes.Application.index" id="logo">トップページへ戻る</a>
        </header>
        
        <h1>Check System</h1>
    	<p class="top">@user さんチェックページ</p>
    	<!-- <form>
    		<select size = "1" name = "kadai">
    			<option value = "kadai1">課題1</option>
    			<option value = "kadai2">課題2</option>
    			<option value = "kadai3">課題3</option>
    		</select>
    	</form>
        <FORM ACTION="test3.pl" METHOD="POST" ENCTYPE="multipart/form-data">
 			<input type = "text" NAME="filename"><BR>
			<input type = "file" NAME="upfile"><BR>
		</FORM>
		<input type = "submit"> -->
    </body>
</html>

<!-- <FORM METHOD="post" ENCTYPE="multipart/form-data" action="@{routes.Application.checker}">
    アップロードファイル名：<INPUT TYPE="file" NAME="upfile"><BR>
    <INPUT TYPE="submit" VALUE="送る">
    <INPUT TYPE="reset" VALUE="取消">
</FORM> -->

@*helper.form(action = routes.Application.checker, 'enctype -> "multipart/form-data"){
		<input type="file" name="checkf">
	<p>
		<input type="submit">
	</p>
}*@

@helper.form(action = routes.Application.checker, 'enctype -> "multipart/form-data"){
	<p>
		<select size = "1" name = "kadai">
			<option value = "kadai1">課題1</option>
			<option value = "kadai2">課題2</option>
			<!-- <option value = "kadai3">課題3</option>
			<option value = "kadai4">課題4</option>
			<option value = "kadai5">課題5</option>
			<option value = "kadai6">課題6</option> -->
		</select>
	</p>
	<p>
		<input type="file" name="checkf" value="ファイルを選択">
	</p>
	<p>
		<input type="submit" value="チェック">
	</p>
}