@* program Template File *@
@(user: String, num: Integer, kaisu: Integer, stringarray:Array[String], tex: String, kekka: String, color: String)

<!DOCTYPE html>
<html>
    <head>
        <title>Check System</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/program.css")">
    </head>

    <body>
        <header>
            <a href="@routes.Application.index" id="logo">トップページへ戻る</a>
        </header>
        
        <h1>Check System</h1>
    	<p class="top">@user さん　（ 課題@num ）　@kaisu 回目フィードバックページ<br>
    	結果：　<font color="@color" size="5">@kekka</font></p>
    	@for((x, i) <- stringarray.zipWithIndex){
    		<p class="test">＜テストケース@(i+1)＞</p>
    		@*x
    		@stringarray(i)*@
    		<object data="@routes.Assets.at("text/"+x)" type="text/plain" width="100%" height="50"></object>  		
    	}
    	<p>
    	<iframe src="@routes.Assets.at("program/"+tex)" width="100%" height="500">
    	</iframe>
		</p>
    </body>
</html>

