@* record Template File *@
@(title: String, user: String, size: Integer, filesname: Array[String], testcase: Array[Array[String]])

<html>
    <head>
        <title>Kamiya System</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/record.css")">
    </head>
    <body>
        <header>
            <a href="@routes.Application.index" id="logo">トップページへ戻る</a>
        </header>
        
        <h1>Kamiya System</h1>
    	<p>@user さん履歴ページ</p>
    	@for((x, i) <- filesname.zipWithIndex){
    		<p>＜課題@(i+1)＞</p>
    		<!--<img src="@routes.Assets.at("images/70110024_1.png")" alt="sample"> -->
    		<table>
    			<tr>
    				<td>
    					<img src="@routes.Assets.at("images/"+x)" alt="image">
    				</td>
    				<td><table border=1>
						<tr>
							<td>回数・テストケース</td>
							@*for((y, j) <- testcase(i).zipWithIndex){
								<td>テスト@(j+1)</td>
							}*@
							@for(j <- 0 until testcase(i)(0).length){
								<td>テスト@(j+1)</td>
							}
						</tr>
						@for(j <- 0 until testcase(i).length){
							<tr>
								<td><a href="@routes.Application.program(i+1,j+1)" id="@(j+1)">@(j+1)回目</a></td>
								@for(n <- 0 until testcase(i)(0).length){
									<td>@testcase(i)(j).charAt(n)</td>
								}	
							</tr>
						}
					</table></td>
    			</tr>
    		</table>
    		<!-- <script type="text/javascript">
    			document.write("<h1>九九の表</h1>");
    			document.write("<table border>");

    			for (var i = 1; i < 10; i++) {
    				document.write("<tr>");
    				for (var j = 1; j < 10; j++) {
        				document.write("<td>", i*j, "</td>");
        			}
    				document.write("</tr>");
    			}
    			document.write("</table>");
    		</script> -->
    	}
    	
    	
    </body>
</html>